<div class="comment-<%= comment.id %> container border border-dark">
    <%= comment.user.email%>
    <span>Posted <%= time_ago_in_words(comment.created_at) %></span>

    <% if current_user == comment.user %>
        <div class="button-group float-end">
            <%= button_to "delete", [post, comment], class: "btn btn-danger", method: :delete %>
        </div>
    <% end %>
    
    <hr />
    <%= comment.body%>
</div>