<div id="<%= dom_id(comment) %>" class="card my-2" style="width: 80%">
  <div class="card-body">
    <h5 class="card-title"><%= comment.user.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= render 'comments/comment_info', comment: comment %>
    </h6>
    <hr />
    <div id="comment-body-<%= comment.id %>", class="card-text">
      <%= comment.body %>
    </div>
    <% if current_user == comment.user %>
        <div class="btn-group float-end">
            <%= link_to 'Edit', nil, remote: true, class: 'btn btn-sm btn-warning mx-2',
              data: {
                controller: "comments",
                action: "comments#toggleForm",
                comments_form_param: "edit-form-#{ comment.id }",
                comments_body_param: "comment-body-#{ comment.id }"
              } %>
            <%= button_to "Delete", [post, comment], class: "btn btn-sm btn-danger", method: :delete %>
        </div>

        <div id= "edit-form-<%= comment.id %>" class="d-none">
          <%= render 'comments/form', post: @post, comment: comment, submit_label: "Update" %>
        </div>
    <% end %>
  </div>
</div>
