<div id="<%= dom_id(comment) %>" class="card my-2" style="width: 80%">
  <div class="card-body row">
    <%= render 'comments/comment_info', comment: comment %>
    <%= render 'comments/comment_actions', post: post, comment: comment %>
    <hr />
    <div id="<%= dom_id(comment, :body) %>", class="card-text">
      <%= comment.body %>
    </div>
    <% if current_user == comment.user %>
      <div id= "<%= dom_id(comment, :edit_form) %>" class="d-none mt-2">
        <%= render 'comments/form', post: @post, comment: comment, submit_label: "Update" %>
      </div>
    <% end %>
  </div>
</div>
