<div id="<%= dom_id(comment) %>" class="card my-2" style="width: 80%">
  <div class="card-body">
    <h5 class="card-title"><%= comment.user.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= render 'comments/comment_info', comment: comment %>
    </h6>
    <hr />
    <p class="card-text"><%= comment.body%></p>

    <% if current_user == comment.user %>
        <div class="btn-group float-end">
            <%= button_to "delete", [post, comment], class: "btn btn-sm btn-danger", method: :delete %>
        </div>
    <% end %>
  </div>
</div>