<h1>
  <%= @user.name&.capitalize %>
</h1>
<h6>
  <%= pluralize(@user.views, "view") %>
</h6>

<div data-controller="user">
  <ul class="nav nav-tabs">
    <li class="nav-item" data-user-target="postsTab" data-action="click->user#toggleTab">
      <%= link_to 'Posts', nil, remote: true, class: 'nav-link active' %>
    </li>
    <li class="nav-item" data-user-target="commentsTab" data-action="click->user#toggleTab">
      <%= link_to 'Comments', nil, remote: true, class: 'nav-link' %>
    </li>
  </ul>

  <div data-user-target="userPosts">
    <%= render 'posts/posts', posts: @posts %>
  </div>

  <div data-user-target="userComments" class="d-none">
    <p>TODO: user comments</p>
  </div>
</div>
