<%= form_with(model: post) do |form| %>
  <%= render 'posts/post_errors', post: post %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "#{action_name} post".capitalize, class: "btn btn-primary" %>
    <%= link_to "Cancel #{action_name}", posts_path, class: "btn btn-danger" %>
  </div>
<% end %>
