<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <h5>Created by: <%= link_to post.user.name, user_path(post.user.id) %></h5>
  <p><%= pluralize(post.views, 'view')%></p>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
