<div class="card my-2">
  <h5 class="card-header text-center">
    <%= post.title %>
  </h5>
  <div class="card-body">
    <h6 class="card-title">
        <small>created by: <%= link_to post.user.name, user_path(post.user.id) %></small><br />
        <small><%= pluralize(post.views, 'view')%></small>
    </h6>
    <hr />
    <p class="card-text">
      <%= limit_body_size(post.body) %>
    </p>
    <%= render 'posts/post_actions', post: post %>
  </div>
</div>