<h1>Posts</h1>

<div class="container">
  <%= search_form_for @query do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.submit %>
  <% end %>

  <%= render 'posts/posts', posts: @posts %>
  <%= render 'posts/pagination_actions' %>
</div>
